@inherits LayoutComponentBase

<PageTitle>FlightPlanDesigner</PageTitle>

<div class="page">
    <main>
        <img src="" />
        <article class="content px-4">
            @Body
        </article>

        <div class="top-row px-4">
            <img src="/images/FlightGear_logo.png" class="flight-gear-logo"/>
            <a class="about" href="https://wiki.flightgear.org/Main_Page" target="_blank">FlightGear wiki</a>
            <a class="about" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    </main>
</div>
