.page[b-proam3vff3] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main[b-proam3vff3] {
    flex: 1;
}

.top-row[b-proam3vff3] {
    background-color: rgb(211,211,211, 0.7);
    justify-content: flex-end;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.about[b-proam3vff3] {
    text-decoration: none;
    font-size: large;
    padding-right: 15px;
}

